



<h3>Welcome to pizza shop!</h3>

<div class="row">
<% @products.each do |p| %>
  <div class="col-md-3">
    <div class="">
      <%= p.title %>
    </div>
    <div class="">
      <img src="<%= p.path_to_image %>" style="width: 200px; height: 200px"/>
    </div>
    <div class="">
      <%= p.description %>
    </div>
    <div class="">
      Price is: <%= p.price %> UAH
    </div>
    <div class="">
      The size is: <%= p.size %> sm
    </div>
    <br>
    <!-- <button type="button" name="button" class="btn btn-sm btn-success">Add to card</button> -->
      <button type="button" class="btn btn-sm btn-success" onclick="add_to_card(<%= p.id %>)">ADD TO CARD</button>
  </div>
<% end %>
</div>
<br>
